<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-lazy-init="true">

	<description>Spring公共配置 </description>

	<!-- 定义受环境影响易变的变量 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<!-- 标准配置 -->
				<value>classpath*:/application.properties</value>
				<!-- 集群中节点配置 -->
				<value>classpath*:/application.cluster.properties</value>
				<!-- 本地开发环境配置 -->
				<value>classpath*:/application.local.properties</value>
				<!-- 服务器生产环境配置 -->
				<value>file:/var/vodlite2/application.server.properties</value>
			</list>
		</property>
	</bean>

	<!-- 使用annotation 自动注册bean,并保证@Required,@Autowired的属性被注入 -->
	<context:component-scan base-package="com.darkmi.vvs" />

 	<!-- mongodb数据源配置 -->
	<!--  
	<bean id="mongoOptions" class="org.springside.modules.orm.mongodb.MongoOptionsFactoryBean">
	    <property name="connectionsPerHost" value="${mongo.connectionsPerHost}" />
		<property name="threadsAllowedToBlockForConnectionMultiplier" value="${mongo.threadsAllowedToBlockForConnectionMultiplier}" />
		<property name="maxWaitTime" value="${mongo.maxWaitTime}" />
		<property name="connectTimeout" value="${mongo.connectTimeout}" />
		<property name="socketTimeout" value="${mongo.socketTimeout}" />
		<property name="autoConnectRetry" value="${mongo.autoConnectRetry}" />
	</bean>
	
	<bean id="mongo" class="org.springside.modules.orm.mongodb.MongoFactoryBean">
	    <property name="host" value="${mongo.host}" />
		<property name="port" value="${mongo.port}" />
		<property name="mongoOptions"  ref="mongoOptions" />
	</bean>
	
	<bean id="morphia" class="com.google.code.morphia.Morphia"></bean>
	 
	<bean id="ds" class="com.google.code.morphia.DatastoreImpl">
	  	<constructor-arg ref="morphia" />
	  	<constructor-arg ref="mongo" />
	  	<constructor-arg value="${mongo.name}" />
	  	<constructor-arg value="${mongo.username}" />
		<constructor-arg value="${mongo.password}" />
	</bean>
	-->

	<!-- 定义默认的session管理器 -->
	<bean id="defaultSessionAccessor" class="cn.ccom.darkmi.vvs.sessionaultSessionAccessor">
	</bean>

	<!-- 定义555端口的消息处理器 -->
	<bean id="setupMessageHandler" class="com.darkmi.vvs.SetupMessageHandler">
		<property name="sessionAccessor" ref="defaultSessionAccessor"></property>
		<property name="vvsIpAddress" value="${vvs.server.ip}"></property>
		<property name="playPort" value="${vvs.playserver.port}"></property>
	</bean>

	<!-- 定义8060端口的消息处理器 -->
	<bean id="playMessageHandler" class="com.darkmi.vvs.PlayMessageHandler">
		<property name="sessionAccessor" ref="defaultSessionAccessor"></property>
	</bean>

	<!--启动setupServer -->
	<bean id="setupServer" class="com.darkmi.vvs.SetupServer">
		<!--<property name="vvsIpAddress" value="${vvs.server.ip}"></property>-->
		<property name="setupPort" value="${vvs.setupserver.port}"></property>
		<property name="setupMessageHandler" ref="setupMessageHandler"></property>
	</bean>

	<!--启动playServer -->
	<bean id="playServer" class="com.darkmi.vvs.PlayServer">
		<!--<property name="vvsIpAddress" value="${vvs.server.ip}"></property>-->
		<property name="playPort" value="${vvs.playserver.port}"></property>
		<property name="playMessageHandler" ref="playMessageHandler"></property>
	</bean>
</beans>